[Unit]
Description=FastAPI Autodeploy webhook handler
After=network.target

[Service]
User=<USER>
WorkingDirectory=<PWD>
ExecStart=/bin/bash -c "./start.sh"
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ReadWritePaths=<PWD>/log
Restart=always

[Install]
WantedBy=multi-user.target
