[Unit]
Description=FastAPI Autodeploy webhook handler
After=network.target

[Service]
WorkingDirectory=<PATH TO THIS DIRECTORY>
ExecStart=/bin/bash -c "./start.sh"
Restart=always

[Install]
WantedBy=default.target
